body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

.second-navbar {
  height: 70px;

  background-color: #3b3a3a !important;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 2fr 1fr;
  padding-top: 10px;
}
.navbar-header {
  color: beige;
  padding-left: 20px;
  margin-top: 10px;
}
.NavDropdown {
  position: absolute;
  left: 55%;
}
.nav-details {
  color: darkgray;
  margin: 15px;
}
.nav-brand {
  margin-left: 22px;

  font-size: 36px;
  color: aliceblue;
}
.panelBox {
  text-align: center;
  padding: 15px;
  margin: 2px ;
  height: 100px;

  background-color: #f2f2f2;
}
.link {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10px;
}
.link:hover {
  color: black;
  font-weight: bold;
  background-color: lightgray;
}

@media screen and (max-width: 740px) {
  html {
    font-size: 80%;
  }
  table {
    max-width: 50%;
    
  }
  td{
    font-size:1.5rem;
   
  }

  th {
    display: none;
  }
  @media screen and (max-width: 550px) {
    html {
   
      font-weight: bolder;
    }
    table {
      max-width: 40%;
    }
  }
}
@media screen and (max-width: 400px) {
  row {
  
    margin-left: 0%;
     
  }
  td{
    width:50%;
    
  }
  html {
  
  }
  table {
    max-width: 30%;
  }
}
@media screen and (max-width: 300px) {
  html {
  
  }
  table {
    max-width: 20%;
  }
}
